
html {
     position: relative;
 }

 body {
/*     margin-bottom: 100px;*/
     margin-top: 50px;
     margin-right: 0px;
     font-family: 'Nunito', sans-serif;
 }

.navbar{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.title-font{
  font-family: 'Oleo Script', cursive;
}
.jumbotron{
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/portfolio/cover.jpg');
    background-attachment: fixed;
    background-size: cover;
/*    background-position: 0-100px;*/
    background-position: bottom;
    color: #fff;

    /* display: flex;
  align-items: center;
  justify-content: center; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

    
}


.desc{
  font-size: 18px;
}
 .jumbotron img {
     width: 200px;
     height: 200px;
     border: 5px solid #fff;
     box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
 }
.jumbotron h1 , .jumbotron p{
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
 hr {
     width: 150px;
     border-top: 3px solid #aaa;
 }

 section {
     min-height: 600px;
 }

 .grey {
     background-color: #eee;
 }


.skill-panel{
  overflow: hidden;
}
.skill{
  font-size: 70px;
  color: #555555;
}
.kontak{
  font-size: 60px;
padding: 10px;
  color: #555555;
}
.v-center{
  padding: 100px 0;
}
 footer {
     position: absolute;
     width: 100%;
     height: 150px;
     background-color: #333;
     bottom: 0;
     color: #fff;
     padding-top: 30px;
 }

 footer p #love {
     color: salmon;
 }

 .contact {
     min-height: 800px;
 }
.htmlcode {
     min-height: 800px;
 }